<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Share</title>
</head>
<body>
    <h1>Welcome to Photo Share!</h1>
    <form action="/newevent" method="post">
        <h3>Create a New Event :</h3>
        <label for="event name">Enter the Event Name :</label>
        <input type="text" name="event_name" id="event_name">
        <label for="email">Enter the Email :</label>
        <input type="text" name="email" id="email">
        <br/><br/>
        <div class="buttons">       
            <input type="submit" name="create_event" value = "Create Event">
        </div>
    </form>
    <br/><br/>
    <form action="/oldevent" method="post">
        <h3>Join Event :</h3>
        <label for="event name">Enter the Event Name :</label>
        <input type="" name="event_name" id="event_name">
        <br/><br/>
        <div class="buttons">       
            <input type="submit" name="create_event" value = "Join Event">
        </div>
    </form>
    
</body>
</html>